This is index.handlebars
</br>
</br>
Hello {{name}} form {{company}}
</br>
</br>
Your lucky number is : <strong>{{luckyNumber}}</strong>
</br>
</br>
<a href="/chatLogin">Goto to node chat server</a>

</br>
</br>
<a href="/about">Goto to about us page</a>

